body {background-color: #f4f4f4;}

body div.login-div {
    padding: 15px;
    border:#603c65;
    box-shadow:0 0 2px cadetblue;
    display: inline-block;
    }
   .login-div input {
       display: block;
       margin-bottom:7px
   } 

.login-div input[type="text"]{
   border: solid 1px blue;
}
   .login-div input[type="email"]{
    border: solid 1px blue;
}
  .login-div input[type="password"]{
    border: solid 1px red;
}
  .comment 
{display: block;
    margin: 16px;
border: solid 1px #e4d9d9;}

.login-div button:hover {
    
    box-shadow: 1px 1px 3px blueviolet; }
 .login-div input:focus {
        box-shadow: 5px 5px 7px greenyellow;
    border: none; }
    